@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');
* {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
}

body {
    padding-top: 50px;
    font-size: 14px;
    font-family: 'Raleway', Georgia, sans-serif;
}

.lang-switcher {
    width: 100%;
    padding-left: 82%;
}

.column {
    float: left;
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

h1 span {
    font-weight: bold;
    color: maroon;
}

@media (min-width: 769px) {
    h1 {
        font-size: 14px;
        font-weight: normal;
        text-transform: uppercase;
        letter-spacing: 6px;
    }
    header {
        background-color: black;
        color: white;
        font-size: 12px;
        padding: 5px 0 5px 0;
    }
    header li {
        display: inline-block;
        margin-left: 40px;
        margin-bottom: 3px;
    }
}

@media (max-width: 768px) and (min-width: 530px) {
    h1 {
        font-size: 14px;
        font-weight: normal;
        text-transform: uppercase;
        letter-spacing: 6px;
    }
    header {
        background-color: black;
        color: white;
        height: 70px;
        font-size: 12px;
        padding: 5px 0 5px 0;
    }
    header li {
        margin-bottom: 3px;
        list-style-type: none;
    }
}

@media (max-width: 529px) {
    h1 {
        font-size: 14px;
        font-weight: normal;
        text-transform: uppercase;
        letter-spacing: 4px;
    }
    header {
        background-color: black;
        color: white;
        height: 80px;
        font-size: 10px;
        padding: 5px 0 5px 0;
    }
    header li {
        margin-bottom: 3px;
        list-style-type: none;
    }
}

header nav.column {
    float: right;
}

header a {
    text-transform: uppercase;
    color: white;
}

a {
    color: black;
    text-decoration: none;
}

#pageTop {
    margin-top: 15px;
}

.myFront {
    margin-bottom: 40px;
}

.myFront h1 {
    font-weight: bold;
}

.myFront p {
    letter-spacing: 1px;
}

.about {
    margin-bottom: 20px;
}

.about p {
    letter-spacing: 1px;
    padding-left: 10px;
}

.skills {
    margin-bottom: 40px;
}

.skills h2 {
    margin-bottom: 20px;
}

.skills p {
    margin-bottom: 5px;
    font-size: 18px;
}

.skillsList {
    list-style-type: none;
}

.innerListClass {
    list-style-type: circle;
    padding: 10px;
    font-weight: 200;
}

.innerListClass li {
    letter-spacing: 1px;
    padding-top: 5px;
}

.container1 {
    width: 100% font-size: 14px;
    margin-left: 90px;
    margin-right: 98px;
}

.inwestBox {
    background-color: #DCDCDC;
    border-left: 8px solid grey;
    padding: 5px;
    display: block;
    margin-top: 40px;
    margin-bottom: 40px;
}

.inwestBox ul {
    list-style: none;
    padding-left: 10px;
    padding-bottom: 15px;
    color: black;
    letter-spacing: 1px;
    font-weight: 200;
}

.big {
    height: 200px;
    margin-bottom: 40px;
}

#ltg {
    background-image: url(../images/back1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin-left: 95px;
    margin-right: 95px;
}

.contact1 {
    background-image: url(../images/foot2a.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-bottom: 30px;
    margin-left: 95px;
    margin-right: 95px;
    margin-bottom: 30px;
}

.contact1 h2 {
    color: black;
    text-align: center;
}

.contact1 a {
    background: transparent;
    box-sizing: border-box;
    margin-bottom: 30px;
}

.contact1 span {
    background: transparent;
    box-sizing: border-box;
    margin-bottom: 30px;
    margin-left: 30px;
    color: black;
}